body {
    margin: 0;
    overflow: hidden;
}
#canvas {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    border:1px solid #ffffff;
    background-color: rgba(160, 0, 120, .15);
}
audio{
  z-index:-1000;
  position:absolute;
}
.circle-on-plan {
    color: red;
    position:fixed;
    z-index:1000;
}