body {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}
#canvas {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    border:1px solid #ffffff;
    background-color: rgba(160, 0, 120, .15);
}
audio{
  z-index:-1000;
  position:absolute;
}

.circle-on-plan {
    color: darkorange;
    position:fixed;
    z-index:1000;
}

#onoffswitch {
    position: absolute;
    z-index: 101;
    top: 165px;
    left: 15px;
}

.toggle {
    min-width: 50px !important;
    min-height: 35px !important;
}